<!DOCTYPE html>
<html lang="en">
<head>
    <title>COCK</title>
</head>

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    td {
        padding: 10px;
    }
</style>

<script src="https://apis.google.com/js/api.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<body>

<script>
    <% include ../pages/google.js %>
    let videos = [];

    $(document).ready(function () {
        loadClient().then(_ => {
            loadVideos().then(vids => {
                videos = vids;
                videos.forEach(video => addToTable(video))
            })
        })
    });

    function deleteHandler(videoId) {
        return function() {
            videos = videos.filter(id => id !== videoId)
            $(this).parent().parent().remove();
        }
    }


    async function addToTable(videoId) {
        const $deleteVideo = $('<button/>')
            .html('<span style="color:red">X</span>')
            .click(deleteHandler(videoId));

        const video = await get_video(videoId)
        videos.push(videoId)

        $('<tr>')
            .append($('<td>').append(get_channel(video)))
            .append($('<td>').append($('<a>', {
                text: get_title(video),
                href: "https://www.youtube.com/watch?v=" + videoId
            })))
            .append($('<td>').append($deleteVideo))
            .prependTo("#videos")
    }

    function save() {
        updateVideos(videos).then(res => {
            console.log(res)
            alert("Saved");
        })
    }


    async function add() {
        const videoId = new URL($("#video").val()).searchParams.get('v')
        if (videoId) {
            await addToTable(videoId)
        }

        return false;
    }
</script>
<h2>
    <div id="status"></div>
</h2>

<a href="/">BACK</a>

<form>
    <label for="video">Youtube link: </label><input type="text" id="video" name="video"/>
    <input class="button" name="Add" type="button" value="submit" onclick="add()"/>
</form>
<button onclick="save()">Save</button>
<table id="videos">
    <tr>
        <td><b>Channel name</b></td>
        <td><b>Video Title</b></td>
        <td>cock</td>
    </tr>
</table>

</body>

</html>