<!DOCTYPE html>
<html lang="en">
<head>
    <title>G U E S</title>
</head>

<style>
    #snackbar {
        visibility: hidden; /* Hidden by default. Visible on click */
        min-width: 150px; /* Set a default minimum width */
        margin-left: -125px; /* Divide value of min-width by 2 */
        background-color: green; /* Black background color */
        color: #fff; /* White text color */
        text-align: center; /* Centered text */
        border-radius: 16px; /* Rounded borders */
        padding: 12px; /* Padding */
        position: fixed; /* Sit on top of the screen */
        z-index: 1; /* Add a z-index if needed */
        left: 50%; /* Center the snackbar */
        top: 40px; /* 40px from the bottom */
        font-family: Roboto, Arial, sans-serif;
        font-size: 20px;
    }

    /* Show the snackbar when clicking on a button (class added with JavaScript) */
    #snackbar.show {
        visibility: visible; /* Show the snackbar */
        /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
        However, delay the fade out process for 2.5 seconds */
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

    /* Animations to fade the snackbar in and out */
    @-webkit-keyframes fadein {
        from {
            top: 0;
            opacity: 0;
        }
        to {
            top: 40px;
            opacity: 1;
        }
    }

    @keyframes fadein {
        from {
            top: 0;
            opacity: 0;
        }
        to {
            top: 40px;
            opacity: 1;
        }
    }

    @-webkit-keyframes fadeout {
        from {
            top: 40px;
            opacity: 1;
        }
        to {
            top: 0;
            opacity: 0;
        }
    }

    @keyframes fadeout {
        from {
            top: 40px;
            opacity: 1;
        }
        to {
            top: 0;
            opacity: 0;
        }
    }

    table, th, td {
        max-width: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0px;
    }

    .choice-container {
        background: black;
    }

    .choice {
        transition: transform .2s; /* Animation */
    }

    .choice:hover {
        transform: scale(1.15);
        opacity: 0.7;
        border-radius: 10px;
        cursor: pointer;
    }

    .container {
        width: 50%; /*whatever*/
        margin: 0 auto;
    }

    .center {
        margin-left: auto;
        margin-right: auto;
    }

    .hide {
        width: 50%; /*whatever*/
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        display: none;
    }

    .full {
        background-attachment: scroll;
        background-clip: border-box;
        background-color: rgba(0, 0, 0, 0);
        background-image: none;
        background-origin: padding-box;
        background-position: 0% 0%;
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-size: auto;
        border-bottom-color: rgb(0, 0, 0);
        border-bottom-style: none;
        border-bottom-width: 0px;
        border-image-outset: 0;
        border-image-repeat: stretch;
        border-image-slice: 100%;
        border-image-source: none;
        border-image-width: 1;
        border-left-color: rgb(0, 0, 0);
        border-left-style: none;
        border-left-width: 0px;
        border-right-color: rgb(0, 0, 0);
        border-right-style: none;
        border-right-width: 0px;
        border-top-color: rgb(0, 0, 0);
        border-top-style: none;
        border-top-width: 0px;
        display: flex;
        flex-direction: row;
        font-family: Roboto, Arial, sans-serif;
        font-size: 10px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        -moz-text-size-adjust: none;
    }

    .whole {
        background-attachment: scroll;
        background-clip: border-box;
        background-color: rgba(0, 0, 0, 0);
        background-image: none;
        background-origin: padding-box;
        background-position: 0% 0%;
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-size: auto;
        border-bottom-color: rgb(0, 0, 0);
        border-bottom-style: none;
        border-bottom-width: 0px;
        border-image-outset: 0;
        border-image-repeat: stretch;
        border-image-slice: 100%;
        border-image-source: none;
        border-image-width: 1;
        border-left-color: rgb(0, 0, 0);
        border-left-style: none;
        border-left-width: 0px;
        border-right-color: rgb(0, 0, 0);
        border-right-style: none;
        border-right-width: 0px;
        border-top-color: rgb(0, 0, 0);
        border-top-style: none;
        border-top-width: 0px;
        display: flex;
        flex-basis: 1 e-9px;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 1;
        font-family: Roboto, Arial, sans-serif;
        font-size: 10px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        min-width: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        -moz-text-size-adjust: none;
    }

    .thumb {
        background-attachment: scroll;
        background-clip: border-box;
        background-color: rgba(0, 0, 0, 0);
        background-image: none;
        background-origin: padding-box;
        background-position: 0% 0%;
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-size: auto;
        border-bottom-color: rgb(3, 3, 3);
        border-bottom-style: none;
        border-bottom-width: 0px;
        border-image-outset: 0;
        border-image-repeat: stretch;
        border-image-slice: 100%;
        border-image-source: none;
        border-image-width: 1;
        border-left-color: rgb(3, 3, 3);
        border-left-style: none;
        border-left-width: 0px;
        border-right-color: rgb(3, 3, 3);
        border-right-style: none;
        border-right-width: 0px;
        border-top-color: rgb(3, 3, 3);
        border-top-style: none;
        border-top-width: 0px;
        color: rgb(3, 3, 3);
        cursor: pointer;
        display: block;
        font-family: Roboto, Arial, sans-serif;
        font-size: 10px;
        height: 40px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-top: 0px;
        max-height: none;
        max-width: none;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        width: 40px;
        -moz-text-size-adjust: none;

        margin-right: 16px;
        border-radius: 50%;
    }

    .author {
        color: rgb(3, 3, 3);
        cursor: pointer;
        display: block;
        font-family: Roboto, Arial, sans-serif;
        font-size: 13px;
        font-weight: 500;
        line-height: 18px;
        margin-bottom: 2px;
        margin-right: 4px;
        text-decoration: rgb(3, 3, 3);
        text-decoration-color: rgb(3, 3, 3);
        text-decoration-line: none;
        text-decoration-style: solid;
        text-decoration-thickness: auto;
        -moz-text-size-adjust: none;
        background-attachment: scroll;
        background-clip: border-box;
        background-color: rgba(0, 0, 0, 0);
        background-image: none;
        background-origin: padding-box;
        background-position: 0% 0%;
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-size: auto;
        border-bottom-color: rgb(3, 3, 3);
        border-bottom-style: none;
        border-bottom-width: 0px;
        border-image-outset: 0;
        border-image-repeat: stretch;
        border-image-slice: 100%;
        border-image-source: none;
        border-image-width: 1;
        border-left-color: rgb(3, 3, 3);
        border-left-style: none;
        border-left-width: 0px;
        border-right-color: rgb(3, 3, 3);
        border-right-style: none;
        border-right-width: 0px;
        border-top-color: rgb(3, 3, 3);
        border-top-style: none;
        border-top-width: 0px;
        color: rgb(3, 3, 3);
        cursor: pointer;
        font-family: Roboto, Arial, sans-serif;
        font-size: 13px;
        font-weight: 500;
        line-height: 18px;
        margin-left: 0px;
        margin-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        -moz-text-size-adjust: none;
    }

    .comment {
        background-attachment: scroll;
        background-clip: border-box;
        background-color: rgba(0, 0, 0, 0);
        background-image: none;
        background-origin: padding-box;
        background-position: 0% 0%;
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-size: auto;
        border-bottom-color: rgb(3, 3, 3);
        border-bottom-style: none;
        border-bottom-width: 0px;
        border-image-repeat: stretch;
        border-image-source: none;
        border-left-color: rgb(3, 3, 3);
        border-left-style: none;
        border-left-width: 0px;
        border-right-color: rgb(3, 3, 3);
        border-right-style: none;
        border-right-width: 0px;
        border-top-color: rgb(3, 3, 3);
        border-top-style: none;
        border-top-width: 0px;
        color: rgb(3, 3, 3);
        display: -webkit-box;
        font-family: Roboto, Arial, sans-serif;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        max-height: none;
        min-width: 0px;
        overflow: hidden;
        overflow-wrap: break-word;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        -moz-box-orient: vertical;
        -moz-text-size-adjust: none;
        -webkit-line-clamp: 4;
        display: block;
        color: rgb(3, 3, 3);
        font-family: Roboto, Arial, sans-serif;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: normal;
        line-height: 20px;
        overflow-wrap: break-word;
        white-space: pre-wrap;
        -moz-text-size-adjust: none;
    }

    .time {
        color: rgb(96, 96, 96);
        cursor: pointer;
        display: inline-block;
        font-family: Roboto, Arial, sans-serif;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: normal;
        line-height: 18px;
        text-decoration: rgb(96, 96, 96);
        text-decoration-color: rgb(96, 96, 96);
        text-decoration-line: none;
        text-decoration-style: solid;
        text-decoration-thickness: auto;
        text-transform: none;
        white-space: nowrap;
        -moz-text-size-adjust: none;
    }

    .author-time {
        background-attachment: scroll;
        background-clip: border-box;
        background-color: rgba(0, 0, 0, 0);
        background-image: none;
        background-origin: padding-box;
        background-position: 0% 0%;
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-size: auto;
        border-bottom-color: rgb(0, 0, 0);
        border-bottom-style: none;
        border-bottom-width: 0px;
        border-image-outset: 0;
        border-image-repeat: stretch;
        border-image-slice: 100%;
        border-image-source: none;
        border-image-width: 1;
        border-left-color: rgb(0, 0, 0);
        border-left-style: none;
        border-left-width: 0px;
        border-right-color: rgb(0, 0, 0);
        border-right-style: none;
        border-right-width: 0px;
        border-top-color: rgb(0, 0, 0);
        border-top-style: none;
        border-top-width: 0px;
        font-family: Roboto, Arial, sans-serif;
        font-size: 10px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        -moz-text-size-adjust: none;

        align-items: baseline;
        background-attachment: scroll;
        background-clip: border-box;
        background-color: rgba(0, 0, 0, 0);
        background-image: none;
        background-origin: padding-box;
        background-position: 0% 0%;
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-size: auto;
        border-bottom-color: rgb(0, 0, 0);
        border-bottom-style: none;
        border-bottom-width: 0px;
        border-image-outset: 0;
        border-image-repeat: stretch;
        border-image-slice: 100%;
        border-image-source: none;
        border-image-width: 1;
        border-left-color: rgb(0, 0, 0);
        border-left-style: none;
        border-left-width: 0px;
        border-right-color: rgb(0, 0, 0);
        border-right-style: none;
        border-right-width: 0px;
        border-top-color: rgb(0, 0, 0);
        border-top-style: none;
        border-top-width: 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-family: Roboto, Arial, sans-serif;
        font-size: 10px;
        margin-bottom: 2px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        -moz-text-size-adjust: none;
    }

    .toolbar {
        align-items: center;
        background-attachment: scroll;
        background-clip: border-box;
        background-color: rgba(0, 0, 0, 0);
        background-image: none;
        background-origin: padding-box;
        background-position: 0% 0%;
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-size: auto;
        border-bottom-color: rgb(96, 96, 96);
        border-bottom-style: none;
        border-bottom-width: 0px;
        border-image-outset: 0;
        border-image-repeat: stretch;
        border-image-slice: 100%;
        border-image-source: none;
        border-image-width: 1;
        border-left-color: rgb(96, 96, 96);
        border-left-style: none;
        border-left-width: 0px;
        border-right-color: rgb(96, 96, 96);
        border-right-style: none;
        border-right-width: 0px;
        border-top-color: rgb(96, 96, 96);
        border-top-style: none;
        border-top-width: 0px;
        color: rgb(96, 96, 96);
        display: flex;
        flex-direction: row;
        font-family: Roboto, Arial, sans-serif;
        font-size: 10px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 4px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        -moz-text-size-adjust: none;
    }

    .icon {
        align-items: center;
        color: rgb(144, 144, 144);
        cursor: pointer;
        display: inline-flex;
        fill: rgb(144, 144, 144);
        font-family: Cantarell;
        font-size: 18.6667px;
        font-weight: 400;
        height: 16px;
        justify-content: center;
        letter-spacing: normal;
        line-height: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        position: relative;
        stroke: none;
        text-transform: none;
        vertical-align: middle;
        width: 16px;
        height: 16px;
        -moz-text-size-adjust: none;
    }

    .icon-1 {
        color: rgb(144, 144, 144);
        display: block;
        font-family: Roboto, Arial, sans-serif;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 0.007px;
        margin-left: -8px;
        text-transform: uppercase;
        vertical-align: middle;
        -moz-text-size-adjust: none;
        background-color: rgba(0, 0, 0, 0);
        box-sizing: border-box;
        color: rgb(144, 144, 144);
        cursor: pointer;
        display: block;
        font-family: Roboto, Arial, sans-serif;
        font-size: 0px;
        font-weight: 500;
        height: 32px;
        letter-spacing: 0.007px;
        line-height: 0px;
        padding-bottom: 8px;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 8px;
        position: relative;
        text-transform: uppercase;
        width: 32px;
        height: 32px;
        -moz-text-size-adjust: none;
    }

    .tool-text {
        background-attachment: scroll;
        background-clip: border-box;
        background-color: rgba(0, 0, 0, 0);
        background-image: none;
        background-origin: padding-box;
        background-position: 0% 0%;
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-size: auto;
        border-bottom-color: rgb(96, 96, 96);
        border-bottom-style: none;
        border-bottom-width: 0px;
        border-image-outset: 0;
        border-image-repeat: stretch;
        border-image-slice: 100%;
        border-image-source: none;
        border-image-width: 1;
        border-left-color: rgb(96, 96, 96);
        border-left-style: none;
        border-left-width: 0px;
        border-right-color: rgb(96, 96, 96);
        border-right-style: none;
        border-right-width: 0px;
        border-top-color: rgb(96, 96, 96);
        border-top-style: none;
        border-top-width: 0px;
        color: rgb(96, 96, 96);
        display: block;
        font-family: Roboto, Arial, sans-serif;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: normal;
        line-height: 18px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 16px;
        margin-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        text-transform: none;
        -moz-text-size-adjust: none;
    }

    .reply {
        align-items: center;
        background-attachment: scroll;
        background-clip: border-box;
        background-color: rgba(0, 0, 0, 0);
        background-image: none;
        background-origin: padding-box;
        background-position: 0% 0%;
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-size: auto;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        box-sizing: border-box;
        color: rgb(96, 96, 96);
        cursor: pointer;
        display: flex;
        flex-direction: row;
        font-family: Roboto, Arial, sans-serif;
        font-feature-settings: normal;
        font-kerning: auto;
        font-language-override: normal;
        font-optical-sizing: auto;
        font-size: 13px;
        font-size-adjust: none;
        font-stretch: 100%;
        font-style: normal;
        font-variant: normal;
        font-variant-alternates: normal;
        font-variant-caps: normal;
        font-variant-east-asian: normal;
        font-variant-ligatures: normal;
        font-variant-numeric: normal;
        font-variant-position: normal;
        font-variation-settings: normal;
        font-weight: 500;
        height: 33.9167px;
        justify-content: center;
        letter-spacing: 0.007px;
        line-height: normal;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        min-width: 66.82px;
        outline-width: 0px;
        padding-bottom: 8px;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 8px;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        user-select: none;
        white-space: nowrap;
        width: 68.9667px;
        z-index: 0;
        -moz-text-size-adjust: none;
    }
</style>

<script src="https://apis.google.com/js/api.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<body>

<script>
    <% include google.js %>
    let score = 0;
    let videos = [];
    let notUsed = [];

    async function play() {
        // let videos = ['u3K6_89Ee4U', '4cucHc2vef4', 'InwwkaoUBeg'];

        let videoId = notUsed[Math.floor(Math.random() * notUsed.length)];
        notUsed = notUsed.filter(id => id !== videoId);
        // let videoId = 'AZKPd3k6O6A'

        let threads = await get_threads(videoId)
        let video = await get_video(videoId);
        let channel = get_channel(video)

        console.log(video)

        let author = ""
        let comment = ""

        for (let i = 0; i < 20; i++) {
            author = get_author(threads[i])
            comment = get_comment(threads[i])

            if (author !== channel) {
                break
            }
        }

        let newc = comment.split(/(?=[\s,'.\n\r\t]+)/)
        newc = newc.map(word => {
            let clean = word.toLowerCase().trim().replace(/[,'.\n\r\t\s]/, '')
            if (/^[a-zA-Z0-9()]+$/.test(clean) && clean.length > 2 && channel.toLowerCase().includes(clean)) {
                return "_______"
            } else {
                return word
            }
        })
        comment = newc.join("")

        let table = $('#table')
        $("#status").html("")
        $('#score').css('display', 'inline-block').text(score)
        $('.hide-start').hide()
        $('#iamgenius').show()
        $('#rules').text("Guess the music video by the top comment")
        table.empty().show()
        $('#likes').text(get_likes(threads[0]))
        $('#thumb').attr("src", get_profile(threads[0]))
        $('#author').text(author)
        $('#comment').text(comment)
        $('#time').text(get_time(threads[0]))

        let selected = shuffle(videos.filter(x => x !== videoId)).slice(0, 5);
        // let selected = shuffle(videos.filter(x => x !== videoId));
        selected.push(videoId)
        selected = shuffle(selected)

        let sel = []
        for (const videoId of selected) {
            sel.push(await get_video(videoId));
        }
        selected = sel

        for (let i = 0; i < selected.length; i += 3) {
            let row = $('<tr>').appendTo(table)
            for (const video of selected.slice(i, i + 3)) {
                row.append($('<td>').text(get_title(video).split('-')[0].slice(0, 30)))
            }
            row = $('<tr>').appendTo(table)
            for (const video of selected.slice(i, i + 3)) {
                const test = get_title(video).split(/[-—](.+)/)
                if (test.length > 1) {
                    row.append($('<td>').text(test[1].slice(0, 30)))
                } else {
                    row.append($('<td>'))
                }
            }
            row = $('<tr>').appendTo(table)
            for (const video of selected.slice(i, i + 3)) {
                row.append($('<td>', {
                    class: "choice-container"
                }).append($('<img>', {
                    id: video.id,
                    class: 'choice',
                    src: get_thumbnail(video),
                    width: 300
                })));
            }
        }

        $('img.choice').click(img => {
            let selectedId = img.currentTarget.id;
            if (selectedId === videoId) {
                inc_score()
                const snackbar = $("#snackbar");
                snackbar.text("Correct").addClass("show").css("background-color", "#228822")
                setTimeout(_ => snackbar.removeClass("show"), 1500)
                play()
            } else {
                score = 0
                notUsed = videos;
                $('#play').show();
                table.hide();

                const snackbar = $("#snackbar");
                snackbar.text("Wrong").addClass("show").css("background-color", "#AA2222")
                setTimeout(_ => snackbar.removeClass("show"), 1500)
                $("#status").html(`<p style="color:#AA2222">It was: ${get_title(video)}</p>`)
            }
        })
    }

    function loadList(list) {
        loadVideos(list).then(vids => {
            videos = vids;
            notUsed = videos;
            $('#loaded').text("Selected list: " + list)
        })
    }

    async function load() {
        const list = $('#select option:selected').text()
        // console.log(list)
        loadList(list)
    }

    function inc_score() {
        score++
        $('#score').text(score);
    }

    $(document).ready(function () {
        loadClient()
        loadList('videos')
        fetch('/lists').then(res => {
            res.json().then(list => {
                list.forEach(el => {
                    $('#select').append($('<option>', {
                        value: el,
                        text: el
                    }))
                })
            })
        })
    });

</script>

<div id="snackbar">Some text some message..</div>

<div class="container">
    <h3>
        <div id="status"></div>
    </h3>

    <button id="play" class="hide-start" onclick="play()">Play</button>

    <span id="loaded" class="hide-start"></span>

    <br class="hide-start">
    <br class="hide-start">

    <select id="select" class="hide-start">
    </select>
    <button id="load" onclick="load()" class="hide-start">Load</button>

    <h2>
        <div style="text-align:center" id="rules">
        </div>
    </h2>

    <h2>
        Score:
        <div id="score" style="display: none">0</div>
    </h2>

    <form action="/edit" id="add" class="hide-start">
        <label for="list">List:</label><input type="text" id="list" name="list" value="videos"/>
        <input type="submit" value="Add videos"/>
    </form>

</div>

<div class="hide" id="iamgenius">
    <div class="full">
        <div class="thumb">
            <img id="thumb" class="thumb" alt="Janai Shelton"
                 src="https://yt3.ggpht.com/a/AATXAJzJ3ghgPsxBdNukAcTavUYcHc0Fr1t8u4oBPQ=s48-c-k-c0xffffffff-no-rj-mo"
                 width="40" height="40">
        </div>
        <div class="whole">
            <div class="author-time">
                <div class="author" id="author">Dorian Electra</div>
                <div class="time" id="time">1 hour ago</div>
            </div>
            <div class="comment" id="comment">Nerds Rise up!</div>
            <div class="toolbar">
                <div class="icon-1">
                    <div class="icon">
                        <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false"
                             style="pointer-events: none; display: block; width: 100%; height: 100%;"
                             class="style-scope yt-icon">
                            <g>
                                <path d="M1 21h4V9H1v12zm22-11c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.59 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-1.91l-.01-.01L23 10z"
                                      class="style-scope yt-icon"></path>
                            </g>
                        </svg><!--css-build:shady-->
                    </div>
                </div>
                <span class="tool-text" id="likes"></span>
                <div class="icon-1">
                    <div class="icon">
                        <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false"
                             style="pointer-events: none; display: block; width: 100%; height: 100%;"
                             class="style-scope yt-icon">
                            <g>
                                class="style-scope yt-icon"></path>
                                <path d="M15 3H6c-.83 0-1.54.5-1.84 1.22l-3.02 7.05c-.09.23-.14.47-.14.73v1.91l.01.01L1 14c0 1.1.9 2 2 2h6.31l-.95 4.57-.03.32c0 .41.17.79.44 1.06L9.83 23l6.59-6.59c.36-.36.58-.86.58-1.41V5c0-1.1-.9-2-2-2zm4 0v12h4V3h-4z"
                                      class="style-scope yt-icon"></path>
                            </g>
                        </svg><!--css-build:shady-->
                    </div>
                </div>
                <div class="reply">REPLY</div>
            </div>
        </div>
    </div>
</div>

<table id="table" class="center">
</table>

</body>

</html>